.tour-hot {
	position: relative;
	margin-top: calc(0% - 80px);
	display: flex;
	justify-content: center;
    z-index: 9997;
    margin-bottom: 60px;
}
.tour-hot-wrap {
	width: 70%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto;
}
.slide-tour-hot {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	width: 100%;
	display: block;
	.tour-hot-item {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.tour-hot-item-img {
			width: 40%;
            height: calc(100% - 15px);
            display: flex;
            align-items: center;
            position: relative;
			border: 6px solid $color-border-img;
            overflow: hidden;
            z-index: 999;
            box-shadow: 7px 0px 15px rgba(0,0,0,0.6), 7px 0px 15px rgba(0,0,0,0.3);
		}
		.tour-hot-item-img > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
            object-position: center;
		}
		.tour-hot-item-content {
			width: 60%;
			height: 80%;
            background-color: #f5f4f3;
            box-shadow: 0 0px 7px rgba(0,0,0,0.6), 0 0px 7px rgba(0,0,0,0.3);
            .text-content{
                margin: auto;
                padding:15px 25px; 
                .title > h3{
                    font: 16px 'UTM Penumbra';
                    color: $color-ogr;
                }
                .headline > h3{
                    @include headline;
                    line-height: 22px;
                }
                .headline > h3 > a{
                    &:hover{
                        @include text-hover;
                    }
                }
            }
            .price{
                .nav-price{
                    margin-top: 8px;
                }
                .nav-price li{
                    height: 40px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                .nav-price li:nth-child(1){
                    background-color: $color-ogr;
                    padding: 0 35px;
                    cursor: pointer;
                    a{
                        @include price_tour;
                        span{
                            text-decoration-line: underline;
                        }
                    }
                }
                .nav-price li:nth-child(2){
                    padding: 0 20px;
                    a{
                        @include price_tour_old;
                        text-decoration:line-through;
                        span{
                            text-decoration-line: underline;
                        }
                    }
                }
                .nav-price li:nth-child(3){
                    margin-left: auto;
                    a{
                        color:$color-ogr;
                    }
                }
            }

		}
	}
}
.button-tour-control {
	position: relative;
	display: block;
	width: 45px;
    height: 80%;
    box-shadow: 0 0px 7px rgba(0,0,0,0.6), 0 0px 7px rgba(0,0,0,0.3);
}
