$color-ogr:#f16724;
$color-text-menu:#545352;
$color-black:#000000;
$color-white-lite:#fcfcfc;
$color-bg:#f3f2f2;
$color-price-old:#a7a5a4;
$color-headline:#050505;
$color-text-menu-footer:#a5a3a3;
$color-push-date:#8e8d8d;
$color-fb:#3b5998;
$color-tw:#429cd6;
$color-gplus:#df4b37;
$color-pri:#cd2029;
$color-ytb:#ff3333;
$color-phone:#049346;
$color-line:#e5e5e5;
$color-border-img:#ededed;
$color-price-tour:#f5f4f3;
$color-price-tour-old:#a7a5a4;