.line {
	display: block;
	position: relative;
	left: 50%;
	width: 50%;
	height: 1px;
	background-color: $color-line;
	transform: translateX(-50%);
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 35%;
		height: 6px;
		transform: translate(-50%, calc(50% - 6px));
		background-color: #b3b3b2;
		border-radius: 5px;
		opacity: 1;
	}
}
.icon-more {
	color: $color-ogr;
	transition: all 0.5s ease-out;
	&:hover {
		color: $color-ogr;
		transition: all 0.5s ease-in;
	}
}

.blogs-item-title {
	display: block;
	position: absolute;
	left: 20px;
	margin-top: -22px;
	background-color: $color-ogr;
	padding: 10px 10px;
	z-index: 99999;
	a {
		color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 10px;
		h4 {
			font: bold 11px 'UTM Avo';
			color: #ffffff;
			text-transform: uppercase;
            margin-bottom: 0;
            line-height: 0
		}
	}
}

.line_circle {
	display: block;
	position: relative;
	width: 40%;
	height: 1px;
	background-color: #dadad8;
	margin: auto;
	&::before {
		content: '';
		position: absolute;
		width: 7px;
		height: 7px;
		background-color: #b3b3b2;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.button-see-details {
	position: absolute;
	bottom: 0;
	left: 10%;
	margin-bottom: -25px;
}

.tour-price {
	margin-top: 20px;
	.nav-tour-price {
		display: flex;
		align-items: flex-end;
	}
	.nav-tour-price li {
		padding-right: 15px;
	}
	.nav-tour-price li:nth-child(1) a {
		@include price;
		span {
			text-decoration-line: underline;
		}
	}
	.nav-tour-price li:nth-child(2) a {
		@include price_old;
		span {
			text-decoration-line: underline;
		}
	}
}

.navigation_controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 60px;
	.nav_controls {
		display: flex;
		li {
			a {
				font-size: 36px;
				color: $color-ogr;
				text-decoration: none;
				background-color: transparent;
				transition: all 0.4s ease-out;
				&:hover {
					background-color: $color-ogr;
					color: $color-white-lite;
					transition: all 0.2s ease-in;
					padding: 5px 7px;
					border-radius: 3px;
				}
			}
		}
	}
}
