.nav-slide-social.hidden{
    right: 0%;
    opacity: 0;
    transform: translate(30vh,30vh);
    visibility: hidden;
    transition: all 0.5s ease-out;
}
.line-vertical.hidden{
    right: -5%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.social_networks.hidden{
    right: 0;
    visibility: visible;
    transition: all 0.8s ease-in;
}