.banner{
    display: block;
    position: relative;
    margin-top: calc(0% - 156px);
    width: 100%;
    height: 500px;
    z-index: 8888;
    background-attachment: fixed;
    .block_hidden{
        display: block;
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: 0;
        width: 100%;
        padding-bottom: 10px;
        .brea{
            padding-left: 60px;
        }
    }
}