.br-custom{
    width: 100%;
}
.breadcrumb{
    padding: 18px 0;
    margin-bottom: 0;
    width: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    &::before{
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 30%;
        height: 6px;
        background-color: #b3b3b2;
        border-radius: 3px;
        transform: translateY(50%);
        z-index: 999;
    }
    &::after{
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        z-index: 888;
    }
    li.breadcrumb-item{
        a{
            color: #818181;
            font: 12px 'UTM Avo';
            text-decoration: none;
            &:hover{
                font-weight: bold;
                text-shadow: 0 5x 15px #818181;
            }
        }
    }
    li.breadcrumb-item.active{
        color: #818181;
        font: 12px 'UTM Avo';
        &:hover{
            font-weight: bold;
            text-shadow: 0 5x 15px #818181;
        }
    }
}
.breadcrumb-item + .breadcrumb-item::before{
    content:'\f0da'!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}