#menu{
    .mm-navbar{
        background-color: $color-ogr;
        color: #ffffff;
        border-color: $color-ogr;
    }
    .mm-panel, .mm-panels{
        background-color: #ffffff;
    }
    .mm-listitem{
        color: #5a5959;
        a{
            font: 16px 'UTM Penumbra';
        }
    }
    a.mm-navbar__title{
        text-transform: uppercase;
        display: flex;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            object-position: center;
            transform: scale(0.7);
        }
    }
    .mm-btn:after, .mm-btn:before{
        border-color: #000;
    }
}
.mm-wrapper__blocker{
    background-color: rgba($color: #000000, $alpha: 0.5)!important;
}