.pagination{
    margin-top: 25px;
    .page-item:first-child .page-link, .page-item:last-child .page-link{
        border-radius: 0;
    }
    .page-item.active{
        pointer-events: none;
    }
    .page-item.active .page-link{
        background-color: $color-ogr;
        outline-color: transparent;     
        border: 1px solid #c9c9c9;   
    }
    .page-link{
        color: #a2a4a2;
        padding-top: 10px;
        padding-bottom: 10px;
        &:focus{
            box-shadow: none;
        }
    }
    .page-item{
        margin-right: .5rem;
    }
}