.plugins_fb_cmt{
    margin-top: 24px;
    background-color: #ffffff;
    display: block;
    position: relative;
    padding: 15px 22px;
    padding-bottom: 30px;
    min-height: 400px;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 30%;
        height: 5px;
        display: block;
        background-color: $color-ogr;
    }
    .title{
        margin-bottom: 30px;
        h3{
            font: bold 16px 'UTM Avo';
            color: #3a3939;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}