@import 'Base/_normalize.scss';
@import 'Base/_reset.scss';
@import 'Helpers/_fonts.scss';
@import 'Helpers/_variables.scss';
@import 'Helpers/_mixin.scss';
@import 'Helpers/_assets.scss';
@media only screen and (max-width: 768px) {
	.co-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-12{
		padding: 0;
		margin: 0;
	}
	///////////////////////////////////////////////////////////////------------------index------------------------------/////////////////////////////////////////////////////////////////////////
	//header

	.main-header {
		width: 100%;
		min-height: 52px;
		display: block;

		//header-top
		.header-top,
		.menu-header {
			display: none;
		}

		//navigation_menu_top
		.menu_mobile_top {
			display: block;
			position: relative;
			width: 100%;
			min-height: 52px;
			z-index: 999999999999;
			.nav_menu_mobile_top {
				display: flex;
				align-items: center;
				background-color: #ffffff;
				width: 100%;
				li.logo_menu_mobile {
					background-color: $color-ogr;
					padding: 0;
				}
				li.bar {
					margin-left: auto;
					margin-right: 20px;
					.btn_bar {
						display: block;
						width: 42px;
						height: 24px;
						span {
							display: block;
							position: relative;
							width: 100%;
							height: 5px;
							background-color: $color-ogr;
							transition: all 0.3s linear;
							cursor: pointer;
							&::before,
							&::after {
								content: '';
								position: absolute;
								display: block;
								top: calc(0% + 10px);
								left: 0;
								width: 100%;
								height: 5px;
								background-color: $color-ogr;
							}
							&::after {
								top: calc(100% + 15px);
							}
						}
						&:focus {
							outline: none;
							width: 35px;
							span {
								visibility: hidden;
								transition: all 0.2s ease-out;
							}
							span:before {
								top: 10px;
								left: 0;
								height: 7px;
								border-radius: 25px;
								visibility: visible;
								transform: skewY(45deg);
								transition: all 0.3s ease-in;
							}
							span::after {
								top: calc(100% + 5px);
								left: 0;
								height: 7px;
								border-radius: 25px;
								visibility: visible;
								transform: skewY(-45deg);
								transition: all 0.3s ease-in;
							}
						}
					}
				}
			}
		}

		//menu_mobile
		.menu_mobile {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #ffffff;
			z-index: 99999999999999;
		}
	}

	//end header

	//slideshow
	.slideshow {
		margin-top: 0;
		height: 35vh;
		.nav-slide-social,
		.line-vertical {
			display: none;
		}
	}

	//main-1
	.main-1 {
		display: none;
	}
	///////////main-top-mobile
	.main-top-mobile{
		display: block;
		background-image: url(../images/banner/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		.tour-hot-mobile{
			width: 100%;
			display: flex;
			.button-tour-control{
				width: 15%;
				height: 160px;
				z-index: 999999;
				display: block;
			}
			.slide-tour-hot{
				width: 85%;
				.swiper-slide{
					width: 100%;
						display: block;
						.tour-him-img{
							width: 100%;
							height: 160px;
							background-color: #ffffff;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							z-index: 99999;
							img{
								width: 80%;
								object-fit: cover;
								min-height: 170px;
								transform: scaleY(1.1);
								z-index: 99999;
								border: 6px solid $color-border-img;
								box-shadow: 3px 0px 12px rgba(0,0,0,0.6), 3px 0px 12px rgba(0,0,0,0.3);
							}
						}
						.tour-him-content{
							display: block;
							margin-top: 50px;
							width: 100%;
							.text-content{
								margin: auto;
								padding:15px 5px; 
								.title{
									margin-top: 10px;
								}
								.title > h3{
									font: 16px 'UTM Penumbra';
									color: $color-ogr;
								}
								.headline > h3{
									@include headline;
									line-height: 22px;
								}
								.headline > h3 > a{
									&:hover{
										@include text-hover;
									}
								}
							}
							.price{
								.nav-price{
									margin-top: 0;
								}
								.nav-price li{
									height: 40px;
									display: inline-flex;
									justify-content: center;
									align-items: center;
									text-align: center;
								}
								.nav-price li:nth-child(1){
									background-color: $color-ogr;
									padding: 0 35px;
									cursor: pointer;
									a{
										@include price_tour;
										span{
											text-decoration-line: underline;
										}
									}
								}
								.nav-price li:nth-child(2){
									padding: 0 20px;
									a{
										@include price_tour_old;
										text-decoration:line-through;
										span{
											text-decoration-line: underline;
										}
									}
								}
							}
						}
					}
				}
			}
			.about-us-mobile{
				margin:40px 0;
				padding: 0 40px;
				.abm-img{
					width: 100%;
					display: block;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					.abn-img-1{
						width: 85%;
						img{
							width: 100%;
							object-fit: cover;
							z-index: 99999;
							border: 6px solid $color-border-img;
							box-shadow: 3px 0px 12px rgba(0,0,0,0.6), 3px 0px 12px rgba(0,0,0,0.3);
						}
					}
					.abm-img-2{
						display: block;
						width: 50%;
						position: absolute;
						top:20%;
						left: 50%;
						img{
							width: 100%;
							object-fit: cover;
							z-index: 99999;
							border: 6px solid $color-border-img;
							box-shadow: 3px 0px 12px rgba(0,0,0,0.6), 3px 0px 12px rgba(0,0,0,0.3);
						}
					}
				}
				.abm-content{
					margin-top: 15%;
					margin-bottom: 40px;
					.title{
						h1{
							@include text-title-abouts;
							font-size: 30px;
						}
					}
					.summary{
						margin-bottom: 30px;
					}
					.see-more{
						a{
							@include see_details;
							.fa-arrow-right{
								padding-left: 10px;
								font-size: 22px;
							}
						}
					}
				}
			}
		}
	.main-2{
		.tour-travel{
			.list-item-tour-travel{
				padding:40px;
				.tour-sites{
					margin-bottom: 35px;
					h2{
						font: bold 24px 'UTM Penumbra';
						color: #000000;margin-bottom: 0;
					}
				}
				.tour-summary{
					margin-bottom: 25px;
				}
				.button-controls{
					position: relative;
					width: 100%;
				}
			}
			.tour-slide{
				width: 100%;
			}
			.tour-item{
				margin-top: 30px;
				.tour-item-img{
					img{
						max-height: none!important;
					}
				}
			}
			.col-md-3.col-12.tour-desc,.col-md-9.col-12.tour-list-slide{
				padding: 0;
			}
			.list-item-blogs-travel{
				margin-top: 35px;
				.tour-blogs{
					height: auto;
					overflow: hidden;
					.tour-blogs-list-item{
						padding: 0 40px!important;
						padding-left: 40px!important;
					}
				}
				.tour-list-slide{
					padding: 0!important;
				}
				.tour-blogs-item-first{
					min-height: 630px;
					width: 100%;
					overflow: hidden;
					.tour-blogs-item-first-img{
						position: relative;
						width: 100%;
						height: 50%;
						img{
							width: 100%;
							height: auto;object-fit: cover;
						}
					}
					.tour-blogs-item-first-desc{
						position: relative;
						margin-top: -5%;
						left: 50%;
						width: 70%;
						transform: translateX(-50%);
					}
					.list-item-blogs-travel{
						display: block;
						min-height: 1200px;
						margin-top: 30px;
					}

				}

			}
		}
		.blogs-travel{
			padding: 30px 40px;
			.blogs-desc{
				padding: 25px 30px;
			}
			.blogs-summary{
				margin-bottom: 20px;
			}
			.blogs-slide .list-blogs-slide .blogs-item .blogs-item-img img{
				max-height: none;
			}
		}
	}
	//////////foooter
	.main-footer {
		min-height: 523px;
		padding: 0 40px;
		.cusomer-feedback {
			margin-top: 30px;
			margin-bottom: 30px;
			.input-mail {
				width: 100%;
				#mail {
					width: 100%;
				}
				.button {
					width: auto;
					white-space: nowrap;
					padding: 0 10px;
				}
			}
		}
		.end-footer {
			display: flex;
			justify-content: center;
			border: none;
			text-align: center;
			.footer-group-menu {
				display: none;
			}
		}
		.copyright {
			display: none;
		}
	}
	.line {
		width: 100%;
		&::before {
			width: 20%;
		}
	}
	//////////////////////////////////////////////////////////////-------------------------------------------gioi-thieu-----------------------------------//////////////////////////////////////////////////////

	//////////////banner
	.banner {
		width: 100%;
		height: 50vh;
		display: block;
		background-repeat: no-repeat;
		.block_hidden {
			display: none;
		}
	}

	//////////main-content
	.main_content {
		margin-bottom: 50;
		padding-bottom: 60px;
		min-height: auto;

		////////sidebar
		.sidebar {
			padding-right: 0px;
			.sidebar_top {
				padding: 50px 40px 40px 40px;
				margin-top: 0;
				.blogs_title {
					left: 5%;
					width: auto;
				}
				.group_title_name {
					margin-top: 0;
				}
				.group_desc {
					margin-top: 30px;
					margin-bottom: 30px;
					p {
						font: italic 14px 'UTM Avo';
						color: #030303;
					}
				}
				.menu_sidebar {
					display: none;
				}
			}
			.list_blogs_sidebar {
				display: none;
			}
		}

		///////////blogs_content_details
		.blogs_content_details {
			margin-top: 0;
			padding-top: 0px;
			padding-left: 40px !important;
			padding-right: 40px !important;
			.blogs_main {
				.main_headline {
					margin-top: 30px;
					h1 {
						font-size: 28px;
						line-height: 36px;
					}
				}
				.main_summary {
					margin-top: 38px;
					h3 {
						line-height: 22px;
					}
				}
				.main_body {
					padding: 30px 0;
					p {
						font: 16px;
						line-height: 22px;
						color: #030303 'UTM Avo';
					}
				}
				.blogs_item_first {
					margin-top: 0;
					margin-bottom: 30px;
					display: block;
					height: auto;
					.blogs_item_first_img {
						width: 100%;
					}
					.blogs_item_first_content {
						width: 100%;
						position: relative;
						padding: 30px;
						.button-see-detail {
							position: absolute;
							padding: 12px 25px;
							width: auto;
						}
					}
				}
				.blogs_item {
					margin-top: 30px;
					display: block;
					.blogs_item_img {
						width: 100%;
					}
					.blogs_item_content {
						width: 100%;
						display: block;
						padding: 0;
						.headline {
							margin-top: 15px;
							margin-bottom: 20px;
							h3 {
								line-height: 22px;
							}
						}
					}
				}
			}
		}
		.pagi {
			margin: auto !important;
		}
		.blogs_content_details.tour-dt {
			padding: 0 !important;
			.book_tour {
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 50px;
				.headline {
					h2 {
						font-size: 30px;
					}
				}
				.tour-price {
					margin-bottom: 30px;
					.nav-tour-price {
						li {
							padding-bottom: 20px;
						}
					}
				}
			}
			.nav_list_tab_procedure {
				justify-content: center;
			}
			.tab_book_tour_content {
				padding: 10px 40px 40px 40px;
				min-height: 500px;
			}
			.plugins_fb_cmt {
				padding: 30px 40px;
			}
		}
		.list_tour_hot {
			padding: 0 40px;
			margin-top: 25px !important;
			.tour-item {
				.col-md-12,
				.col-12,
				.col-md-4 {
					padding: 0;
				}
				.tour-item-img {
					img {
						max-height: 356px !important;
					}
				}
			}
		}
		.list_blogs_sidebar.mobile {
			display: block;
			margin-top: 60px;
			.list_title {
				margin-bottom: 20px;
			}
			.blogs_sidebar_content {
				margin-top: 25px;
				padding: 0 40px;
				.blogs_sidebar_item {
					.bl_headline {
						h3 {
							font-size: 18px;
							a {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		.line_circle {
			width: 80%;
		}
	}

	///////////////contact
	.form_contact {
		.btn .btn_submit {
			width: auto;
		}
		textarea.form-control {
			max-height: 120px;
			overflow-y: scroll;
		}
	}
	.dblock_value{
		span{
			margin-left: 0!important;
			&::before{
				left:-7%!important;
			}
		}
	}
	.form_contact form .form-group label {
		width: 24%;
	}
	.form_contact form .form-group label.empty {
		width: 20%;
	}
	/////////////////// modal

	#modal-custom {
		padding: 15px;
		height: auto;
		::-webkit-scrollbar { 
			display: none; 
		}
		header {
			.header-title {
				margin-bottom: 15px;
			}
		}
		.sections {
			margin-top: 25px;
			.form-horizontal {
				p.text_label {
					margin-bottom: 15px !important;
				}
			}
		}
		.icon-close {
			opacity: 1;
			display: block;
		}
	}
	#modal-custom section button{
		width: 100%!important;
	}
	#modal-custom.hasScroll .icon-close{
		right: 0;
		display: block;
		top:3px;
	}
	//////////////tour
	.mobile.container-fluid {
		padding: 0 !important;
		margin: 0 !important;
	}
	.tour_info {
		width: 100%;
		margin-top: 0;
	}
	.list_tour_content {
		.list_tour_container {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			justify-content: center;
			padding: 0 40px;
		}
	}
	.banner_tour_footer {
		.banner_tour_footer_info {
			position: relative;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	nav:not(.mm-menu) {
		display: none;
	}
	.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened ~ .mm-slideout {
		z-index: 9999999999999;
	}
}
@media all and (min-width: 768px) and (max-width: 1250px) {
}
@media all and (min-width: 768px) and (max-width: 959px) {
}
@media all and (min-width: 480px) and (max-width: 767px) {
}
@media all and (max-width: 599px) {
}
@media all and (max-width: 479px) {
}
