.main_content{
    position: relative;
    margin-bottom: 60px;
}
@import 'Components/blogs_details/_sidebar.scss';
@import 'Components/blogs_details/_blogs_content_details.scss';
@import 'Components/blogs_details/_list_tour_hot.scss';