.main-footer{
    display: block;
    min-height: 600px;
    position: relative;
    background:linear-gradient(-90deg,#2b2b2b,#dbdada);
    background-image: url(../images/banner/bg_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    .cusomer-feedback{
        display: block;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        .title{
            h3{
                @include title_dk_footer;
            }
            margin: 0;
        }
        .input-mail{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 25px;
            #mail{
                padding: 0 20px;
                background-color: #ffffff;
                width: 360px;
                height: 50px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            .button{
                margin-left: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 200px;
                height: 50px;
                background-color: $color-ogr;
                text-align: center;
                vertical-align: middle;
                .btn-submit[type=submit]{
                    color:#fdfbfb;
                    border: none;
                    background-color: transparent;
                    text-transform: uppercase;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    font: bold 14px 'UTM Avo';
                    text-decoration: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .menu-social-footer{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-social-footer{
                display: flex;
                li{
                    display: block;
                    position: relative;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #231f20;
                    margin:0 5px;
                    cursor: pointer;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #ffffff;
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
    }
    .end-footer{
        padding-top: 40px;
        padding-bottom: 50px;
        border-top: 1px solid #bab1b1;
        border-bottom: 1px solid #bab1b1;
        .logo-footer{
            margin-bottom: 35px;
        }
        .site-tites-footer{
            margin-bottom: 20px;
            h4{
                font: bold 14px 'UTM Avo';
                color: #ffffff;
                margin: 0;
            }
        }
        .address{
            p{
                @include text_footer;
                margin-bottom: 0;
            }
        }
        .group-child-menu{
            .group-title{
                h3{
                    font: bold 14px 'UTM Avo';
                    color: #ffffff;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
            }
            .nav-group{
                margin-top: 25px;
                .nav-child-group{
                    display: block;
                    li{
                        padding: 7px 0;
                        a{
                            text-decoration: none;
                            font: 14px 'UTM Avo';
                            color:#bab1b1;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        padding-top: 15px;
        padding-bottom: 50px;
        h4{
            @include copyright;
        }
    }
}