.tour_info{
    display: block;
    position: relative;
    background-color: #ffffff;
    margin-top: -80px;
    padding: 50px 45px 45px 45px;
    width: 70%;
    z-index: 99999;
    .tour_title{
        display: block;
        position: absolute;
        left: 20px;
        margin-top: -22px;
        background-color: $color-ogr;
        padding: 10px 10px;
        z-index: 99999;
            h4 {
                padding: 10px;
                font: bold 11px 'UTM Avo';
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: 0;
                line-height: 0
            }
        top: 0;
        left: 30px;
    }
    .tour_title_name{
        h2{
            @include blogs_title;
            margin-bottom: 0;
        }
    }
    .tour_desc{
        margin-top: 20px;
    }
}
@import 'Components/tour/_list_tour_main.scss';
@import 'Components/tour/_banner_footer.scss';