.main-1{
    position: relative;
    background-image: url(../images/banner/bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 690px;
}
@import 'Components/home/_tour-hot.scss';
@import 'Components/home/_about-us.scss';