.tour-item{
    width: 100%;
    overflow: hidden;
    .tour-item-img{
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
            max-height: 200px;
        }
    }
    .tour-headline{
        margin-top: 18px;
        h3{
            @include headline;
            a{
                &:hover{
                    @include text-hover;
                }
            }
        }
    }
}
