.list_tour_content{
    margin-top: 40px;
    .list_tour_container{
        min-height: 930px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        .tour_item{
            .tour_item_img{
                width: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    max-height: 270px;
                }
            }
            .tour-price{
                margin-top: 13px;
            }
            .tour_headline{
                margin-top: 15px;
                margin-bottom: 10px;
                h3{
                    @include headline;
                    line-height: 20px;
                    margin-bottom: 0;
                }
            }
            .button_see_icon{
                background-color: $color-ogr;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.2s ease-out;
                width: 30px;
                height: 22px;
                &:hover{
                    background-color: transparent;
                    a{
                        font-size: 14px;
                        color: $color-ogr;
                        transition: all 0.4s ease;
                    }
                }
                a{
                    color: $color-white-lite;
                    text-decoration: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}